<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='training-project-skomorokhova.textImageButton'}" />

<sly data-sly-use.model="by.itechart.training.core.models.TextImageButtonModel" />
    <p id="alert-message">${model.alertMessage}</p>

    <p data-sly-test="${wcmmode.edit}">Edit mode</p>
    <p data-sly-test="${wcmmode.disabled}">Publish mode</p>
    <h1>${model.titleText}</h1>
    <h3>${'Hello world!' @ i18n}</h3>
    <div><img src="${model.fileReference}"/></div>
    <p><a href="${properties.linkTo}"><button>${properties.buttonLabel}</button></a></p>


    <p>Pages under we-retail</p>
    <p>Was used: ${model.queryLanguage} language</p>

    <ul data-sly-list="${model.getWeRetailChildPagesNames}">
        <li>${item}</li>
    </ul>